.input-box {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#inputs {
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

#get-meal-button {
    width: 200px;
    height: 100px;
}

.input-box {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*recipes*/

.recipe {
    background-color: #e6d9d0;
    text-align: center;
    border-radius: 8px;
    float: left;
    width: 40%;
    margin: 32px;
}

ul {
    list-style-type: none;
}

.recipe-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}