/*header*/

#logo {
    max-height: inherit;
}

.header {
    background-color: #e6d9d0;
    max-height: 100px;
}

* {
	font-color: #606060;
}

/*input*/

.input-box {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#inputs {
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

#get-meal-button {
	border-radius: 8px;
	border: none;
	background-color: #e19093;
	font-weight: bold;
	color: #ffffff;
	width: 200px;
	height: 100px;
}

#get-meal-button:hover {
    background-color: #e08082;
}

.input-box {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/*recipes*/

.recipe {
	background-color: #e6d9d0;
	text-align: center;
	border-radius: 8px;
	float: left;
    width: 40%;
    margin: 32px;
}

ul {
  list-style-type: none;
}

.recipe-container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

/*footer*/

.footer {
    bottom: 0;
    width: 100%;
    height: 19px;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer p {
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1em;
}



