/* General */

* {
    margin: 0;
    /* margin-bottom: 400px; */
    padding: 0;
    box-sizing: border-box;
    font-color: #606060;
}

h1, h2, p {
    color: #606060;
}

img {
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


/* Button */

button {
    font-size: 18px;
    font-weight: bold;
    padding: 6px 12px;
    width: fit-content;
    height: fit-content;
    background-color: #e19093;
    font-weight: bold;
    color: #ffffff;
    border-radius: 12px;
    border: none;
    /* Safari */
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover, img:not(#logo):hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #e08082;
}


/* Header */

#logo {
    max-height: inherit;
    padding-left: 10px;
}

.header {
    background-color: #e6d9d0;
    max-height: 100px;
    width: 100%;
}


/* Footer */

.footer {
    position: fixed;
    Width: 100%;
    bottom: 0;
    height: 20px;
    margin-top: -20px;
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-between;
    opacity: 50%;
    transition-duration: .4s;
}

.footer p {
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1em;
}

.footer:hover {
    opacity: 90%;
}


/* Mobile Styles */

@media only screen and (max-width: 425px) {}